.facility-details {
  background-color: #f4f4f2;
  border: 2px solid #6b8e23;
  border-radius: 8px;
  padding: 20px;

  h2,
  h3 {
    color: #2e4600;
  }

  .image-gallery img {
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .modal-image {
    max-width: 100%;
    max-height: 80vh;
    margin: 0 auto;
  }
}
