@import "../../styles/variables";

.facility-grid-container {
  box-shadow: $shadow-sm;
  height: 400px;
  width: 100%;

  // AG Grid specific styles
  .ag-root-wrapper {
    border-radius: $button-border-radius;
    border: 2px solid $primary-color;
  }

  // Header column separator styles
  .ag-header-cell {
    &:last-child {
      border-right: none; // Remove border from last column
    }
  }
}
