@import "../styles/variables";

.facilities-finder {
  background-color: $background-light;
  padding: 10px;
  margin: 0;
  width: 100vw;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;

  .facilities-finder__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;

    .form-group {
      display: flex;
      justify-content: center;
      width: 100%;

      input,
      select {
        flex: 1;
        max-width: 300px;
        border: 2px solid $secondary-color;
        border-radius: $button-border-radius;
        padding: 0.8rem;
        transition: $button-transition;

        &:focus {
          border-color: $primary-color;
          box-shadow: 0 0 5px rgba($primary-color, 0.2);
          outline: none;
        }
      }
    }

    .buttons-container {
      display: flex;
      justify-content: center;
      margin-bottom: 10px;

      button {
        min-width: 150px;
      }

      .submit {
        margin-right: 10px;
        @include button-primary;
      }

      .clear {
        @include button-secondary;
      }
    }
  }

  .error {
    color: $color-danger;
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
  }
}
