@import "../../styles/variables";

.availability-section {
  margin-top: -1rem;
  padding: 1rem;
  background-color: $background-light;
  border-radius: 8px;

  .availability-legend {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    .legend-item {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.875rem;

      .status-dot {
        width: 12px;
        height: 12px;
      }
    }
  }

  .monthly-calendars {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;

    .month-calendar {
      margin-top: -1rem;
      h4 {
        margin-bottom: -0.25rem;
        margin-left: 0.5rem;
      }

      .calendar-grid {
        border: 2px solid #ddd;
        border-radius: 8px;
        overflow: hidden;

        .calendar-header {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          background-color: $primary-color;
          border-bottom: 1px solid #ddd;

          .day-header {
            padding: 0.5rem;
            text-align: center;
            font-weight: 600;
            font-size: 0.875rem;
            color: #ffffff;
          }
        }

        .calendar-days {
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          //gap: 2px;
          background-color: #cecece;

          .calendar-day {
            position: relative;
            aspect-ratio: 1;
            background-color: #707070;
            color: #ffffff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 0.875rem;
            border: 1px solid #ffffff;
            border-radius: 4px;
            transition: all 0.1s ease-in-out;

            .day-number {
              font-weight: 600;
              margin-bottom: 0.25rem;
            }

            .day-status {
              font-size: 0.75rem;
              text-align: center;
              //display: none;
            }
          }
        }
      }
    }
  }
}

// Status colors
.status-available {
  background-color: #4caf50 !important;
  color: white;
}

.status-reserved {
  background-color: #d65140 !important;
  color: white;
  cursor: pointer !important;

  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
    z-index: 2;
  }
}

.status-not-reservable {
  background-color: #707070 !important;
  color: white;
}

.status-nyr {
  background-color: #4a90e2 !important;
  color: white;
  cursor: pointer !important;

  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
    z-index: 2;
  }
}
