@import "./styles/variables";

// Outdoor-specific theme colors
$primary-color: #003c1f;
$secondary-color: #003c1f;
$accent-color: #8b4513; // Saddle brown
$hover-color: #a0522d; // Darker brown

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: $background-light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #2600ff;
  text-decoration: none;

  &:hover {
    color: darken($primary-color, 10%); // Slightly darker olive green
  }
}

body {
  background-color: $background-light;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: $text-primary;
}

h1 {
  font-size: 2.5em;
  line-height: 1;
  font-weight: bolder;
  text-align: center;
}

button {
  @include button-primary;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $primary-color; // Olive green text
    background-color: $secondary-color; // Off-white background
  }

  a:hover {
    color: darken($primary-color, 15%); // Slightly darker olive green
  }
}
