@import "./styles/variables";
@import "./styles/responsive";

$primary-color: #003c1f;
$secondary-color: $background-light;
$accent-color: #8b4513;
$hover-color: #a0522d;

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: $background-light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #2600ff;
  text-decoration: none;

  &:hover {
    color: darken($primary-color, 10%);
  }
}

body {
  background-color: $background-light;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: $text-primary;
  width: 100%;
  overflow-x: hidden;
  max-width: 100vw;
  position: relative;
}

h1 {
  font-size: 2.5em;
  line-height: 1;
  font-weight: bolder;
  text-align: center;

  @include mobile {
    font-size: 2em;
  }
}

button {
  padding: 6px 12px;
  font-style: bold;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.2;
  @include button-primary;
  touch-action: manipulation;
}

html {
  height: -webkit-fill-available;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
  position: relative;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $primary-color;
    background-color: $secondary-color;
  }

  a:hover {
    color: darken($primary-color, 15%);
  }
}

img {
  max-width: 100%;
  height: auto;
}

input,
select,
textarea,
button {
  margin: 0;

  @include mobile {
    min-height: 44px;
  }
}

#root {
  width: 100%;
}
